# Copyright (c)  2022,  Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

ords_url = "https://<ORDS_DATABASE_HOSTNAME>.oraclecloudapps.com/ords/<ORDS_USERNAME>>/<ORDS_MODULENAME>/$${request.path[foo]}"